.btn_estimate{
    border: 1px solid var(--color_azure);
    border-radius: 8px;
    padding: 7px 10px;
    background: none;
    color: var(--color_azure);
    font-family: var(--font_Bahn);
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    margin-top: 18px;
}
