button.button_back{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 20px;
    right: -18px;
    top: 28px;
    bottom: -31px;
    background: rgb(31, 40, 51);
    border-radius: 50%;
    border:none;


}
button.button_back:after{
    content: '';
    position: absolute;
    top: 16px;
    left: 9px;
    right:14px;
    width: 27px;
    height: 15px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url("src/img/arrow_back.svg");
}