.button_profile {
    width: 45px;
    height: 45px;
    background: #1F2833;
    border-radius: 50%;
    border:none;
}

.img_btn_profile{
    top: 11px;
    right: 12px;
    bottom: 12px;
    left: 11px;
    width: 22px;
    height: 22px;
}