
.settings{
    position: absolute;
    width: 306px;
    min-height: 700px;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
}

.settings_btn_back{
    position: relative;
    top: 28px;
    margin-left: 20px;
    z-index: 1000;
}

.setting_photo_block{
    position: relative;
    margin: 56px auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.setting_photo{
    display: inline-block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.img_setting_photo{
    border-radius: 50%;
    box-shadow: 0px 0px 47px var(--color_azure);
    box-shadow: 0px 0px 47px var(--color_azure);
    width:100%;
    height:100%;
    object-fit: cover;
}

.section_btn_photo{
    margin-right: 10px;
}
.btn_photo{
    color: var(--color_text_white);
    font-family: var(var(--serif_Minho));
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--color_azure);
    border-radius: 10px;
    background: none;
    padding: 4px 7px;
    white-space: nowrap;
}

.setting_btn_save{
    display: block;
    width: 180px;
    margin: 30px auto 0;
    padding: 8px 8px;
    background: var(--color_azure);
    color: var(--color_black);
    font-family: var(var(--serif_Minho));
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    border-radius: 14px;
    border: 0;
}


.setting_btn_exit{
    display: block;
    width: 280px;
    margin: 30px auto 0;
    padding: 8px 8px;
    background: none;
    border: 1px solid var(--color_azure);
    border-radius: 14px;
    color: var(--color_azure);
    font-family: var(--font_Bahn);
    font-size: 23px;
    line-height: 20px;
    text-align: center;
}

#fileInput{
    display: none;
}