.filters_checkbox{
    display:flex;
    position: relative;
    margin: 8px 0;
    width: 100%;
    padding-left: 26px;
}

.checkbox_element{
    appearance: none;
    position:absolute;
    left:0;
    margin:0;
    width:18px;
    height: 18px;
    border: 1px solid var(--color_azure);
    border-radius: 5px;
}
.checkbox_element:checked{
    background-color: var(--color_azure);
}

.checkbox_element:checked::before{
    content: " ";
    display: block;
    position: absolute;
    top:0px;
    left:5px;
    width: 3px;
    height: 8px;
    border: 3px solid transparent;
    border-bottom-color:var(--color_grey);
    border-right-color: var(--color_grey);
    transform-origin: 50% 50%;
    transform: rotate(35deg);
}
.text_checkbox{
    color: var(--color_azure);
    font-family: var(--font_Bahn);
    font-size: 17px;
    text-align: center;
}
