
.liked_btn_block{
    position: relative;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.liked_btn_back{
    margin-left: 20px;
}

.liked_btn_filters{
    margin-right:20px;
}
.liked{
    position: absolute;
    width: 305px;
    min-height: 700px;
    top: 120px;
    left: 60%;
    transform: translate(-60%);
}
