
.liked_btn_block{
    position: relative;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.liked_btn_back{
    margin-left: 20px;
}

.liked_btn_filters{
    opacity: 0;
    margin-right:20px;
}
.liked{
    position: absolute;
    width: auto;
    min-height: 700px;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
}

.liked_message{
    font-size: 32px;
    color: var(--color_text_white);
    font-family: var(--font_Bahn);
}
