.inf_acting{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 0;
    width: 230px;
    height: 33.33%;
    align-items: center;
}

.acting_photo{
    box-shadow: 0px 0px 15px var(--color_azure);
    width: 53px;
}

.acting_text{
    color: var(--color_text_white);
    font-family: var(--font_Bahn);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 15px
}