
.registration_btn_back{
    position: relative;
    top: 28px;
    margin-left: 20px;
}


.registration{
    position: absolute;
    width: 306px;
    height: 459px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.registration_header{
    color: var(--color_azure);
    font-family: var(--font_Bahn);
    font-size: 52px;
    line-height: 62px;
    text-align: center;
}

.registration_input{
    margin-top: 50px;
    text-align: center;
}

.registration_btn{
    display: block;
    width: 286px;
    margin: 50px auto 0;
    padding: 10px 10px;
    font-family: var(--font_Bahn);
    font-size: 26px;
    background: var(--color_azure);
    color: var(--color_black);
    text-align: center;
    border-radius: 14px;
}


