
.authorization_btn_back{
    position: relative;
    top: 28px;
    margin-left:20px;
}
.authorization{
    position: absolute;
    width: 306px;
    height: 459px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.authorization_header{
    color: var(--color_azure);
    font-family: var(--font_Bahn);
    font-size: 52px;
    line-height: 62px;
    text-align: center;
}

.authorization_input{
    margin-top: 50px;
    text-align: center;

}

.authorization_btn{
    display: block;
    width: 189px;
    margin: 50px auto 0;
    padding: 10px 10px;
    background: var(--color_azure);
    color: var(--color_black);
    font-family: var(--font_Bahn);
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    border-radius: 14px;
}
.reg_in_auth_btn{
    display: block;
    width: 300px;
    margin: 50px auto 0;
    padding: 10px 10px;
    background: none;
    border: 1px solid var(--color_azure);
    border-radius: 14px;
    color: var(--color_azure);
    font-family: var(--font_Bahn);
    font-size: 26px;
    line-height: 20px;
    text-align: center;

}