@import "../../../node_modules/materialize-css/dist/css/materialize.min.css";

body{
    background-image: url("../../img/fon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y
}
.authorization_btn_back{
    position: relative;
    top: 28px;
}
.authorization{
    position: absolute;
    width: 306px;
    height: 459px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.authorization_header{
    color: #66FCF1;
    font-family: Bahnschrift;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
}

.authorization_input{
    margin-top: 50px;
    text-align: center;

}

.authorization_btn{
    display: block;
    width: 189px;
    margin: 50px auto 0;
    padding: 10px 10px;
    background: #66FCF1;
    color: #010101;
    font-family: Bahnschrift, serif;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    border-radius: 14px;
}
.reg_in_auth_btn{
    display: block;
    width: 300px;
    margin: 50px auto 0;
    padding: 10px 10px;
    background: none;
    border: 1px solid #66FCF1;
    border-radius: 14px;
    color: #66FCF1;
    font-family: Bahnschrift, serif;
    font-size: 26px;
    line-height: 20px;
    text-align: center;

}