
body{
    background-image: url("../../img/fon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y
}

.watched_btn_block{
    position: relative;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.watched_btn_back{
    margin-left: 20px;
}

.watched_btn_filters{
    margin-right: 20px
}
.watched{
    position: absolute;
    width: 350px;
    min-height: 700px;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
}
