.film_block{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}

.choice_block{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.poster_film{
    box-shadow: 0px 0px 30px var(--color_azure);

}
.header_film{
    color: var(--color_text_white);
    font-family: var(--serif_Minho);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    background: rgba(197, 198, 199, 0.13);
    line-height: 20px;
    width: 170px;
    height: auto;
    border-radius: 10px;
    padding: 10px 25px 15px;
}