.grade{
    border: 1px solid #66FCF1;
    border-radius: 8px;
    padding: 7px 28px;
    background: #66FCF1;
    font-family: Bahnschrift, serif;
    color: #1F2833;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    margin-top: 18px;
}