
body{
    background-image: url("../../img/fon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y
}
.main{
    width: 100%;
    min-height: 900px;
}
.main_btn_block{
    position: relative;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.checkbox_switch{
    width: 97px;
    height: 38px;
    border-radius: 17px;
    background: #1F2833;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.switch_btn_option{
    width: 35px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background: none;
}

.switch_btn_option.active{
    background: #66FCF1;
}

.img_option{
    stroke: #66FCF1;
    fill: rgba(0,0,0,0);
}

.active .img_option{
    stroke: #1F2833;
    fill: rgba(0,0,0,0);
}

.main_btn_list_film{
    display: block;
    width: 60px;
    margin: 40px auto 0;
    padding: 10px 10px;
    background: none;
    border: 1px solid #66FCF1;
    border-radius: 5px;
}

.img_list_film{
    top: 14px;
    right: 18px;
    bottom: 14px;
    left: 18px;
    width: 24px;
    height: 24px;
}

.main_inf_film{
    position: relative;
    width: 306px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
