
.inf_film{
    position: relative;
    width: 306px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.inf_btn_block{
    position: relative;
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.inf_back{
    margin-left: 20px;
}

.inf_profile{
    margin-right: 20px;
}
.block_acting{
    position: relative;
    height: 255px;
    width:335px;
    margin:30px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    border: none;
}


